@use '../../../../styles/_breakpoints.scss' as *;

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

@media (max-width: $breakpoint-lg) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
