@use '../../../../styles/breakpoints' as *;

.site-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 1rem;
  border-top: 1px solid var(--line);

  margin-top: 5rem;

  @media (max-width: $breakpoint-sm) {
    gap: 1rem;
    align-items: flex-start;
    flex-direction: column;
  }
}

.site-footer,
.site-footer a {
  color: var(--muted);
}
