@use '../../../../styles/_breakpoints.scss' as *;

.contact-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (max-width: $breakpoint-lg) {
  .contact-section {
    grid-template-columns: 1fr;
  }
}
